<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.horen.horenbase">
    <application
        android:name="com.horen.base.app.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_error"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_error"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.live.LiveDetailActivity" />
        <activity android:name=".ui.activity.live.VideoActivity" />

        <activity android:name=".ui.activity.d8.D8TagVideoActivity" />
        <activity android:name=".ui.activity.live.LiveCollectActivity" />
        <activity android:name=".ui.activity.live.LiveAnchorCollectActivity" />
    </application>

</manifest>